progress{
    width: 50%;
    height: 30px;

    background-color: #09c;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(right, #09c 10%, #f44 90%);
    border-radius: 2px; 
  }
  progress[value]::-moz-progress-bar { 
    background-color: #f44;
    border-radius: 2px; 
  }

 